.window {
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	width: 5em;
	height: 5em;
	line-height: 5em;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #eeeeef;
	color: black;
	font-family: helvetica;
	padding: 0.5em;
	font-size: 0.9em;
}

.window:hover {
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.item {
	position: absolute;
	border: 1px solid black;
	background-color: #ddddff;
}

.title {
	padding: 10px;
	cursor: move;
}

.connect {
	width: 100%;
	height: 20px;
	background-color: white;
	cursor: pointer;
}

#container {
	border: 1px solid gray;
	width: 500px;
	height: 500px;
}